.configuracoes-area {
  margin-left: 300px;
  padding: 25px 50px;

  button {
    border-radius: 20px;
  }
}

input {
  outline: none;
  &:focus {
    box-shadow: none;
    
  }
  &:checked {
    border: solid 2px #118ab2;
    background-color: #118ab2;
  }
}

@media screen and (max-width: 800px) {
  .configuracoes-area {
    margin: 0;
    padding: 20px;
  }
}
